<header>
  <nav class="navbar">
    <img class="logo" src="/images/logo.jpeg" alt="Logo" />
    <input class="search-input" type="text" placeholder="Search..." />
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-icon"
      ><i class="fa fa-bars"></i
    ></label>
    <ul class="nav-links">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Bookings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </nav>
</header>
