<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <!-- Header -->
    <%- include("./partials/header")%><%- include("./partials/progress-bar")
    %> <%- include("./partials/footer") %>
  </body>
</html>
