<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>

    <!-- Main Content -->
    <main class="container">
      <section class="welcome">
        <h1 class="welcome-info">
          WE HAVE <span style="color: chartreuse">PERFECT</span> RENTAL FOR YOU
        </h1>
      </section>
      <!-- Cards Section -->
      <section class="card-section">
        <!-- Card 1 -->
        <div class="card">
          <img src="/images/M1.jpg" alt="Image 1" />
          <div class="card-info">
            <h2>Item 1</h2>
            <p>Description of item 1.</p>
            <p>$49.99</p>
            <a href="#">View Details</a>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
          <img src="/images/M2.jpg" alt="Image 2" />
          <div class="card-info">
            <h2>Item 2</h2>
            <p>Description of item 2.</p>
            <p>$29.99</p>
          </div>
        </div>

        <div class="card">
          <img src="/images/M1.jpg" alt="Image 2" />
          <div class="card-info">
            <h2>Item 2</h2>
            <p>Description of item 2.</p>
            <p>$29.99</p>
          </div>
        </div>

        <div class="card">
          <img src="/images/odl.jpg" alt="Image 2" />
          <div class="card-info">
            <h2>Item 2</h2>
            <p>Description of item 2.</p>
            <p>$29.99</p>
          </div>
        </div>

        <div class="card">
          <img src="/images/M1.jpg" alt="Image 2" />
          <div class="card-info">
            <h2>Item 2</h2>
            <p>Description of item 2.</p>
            <p>$29.99</p>
          </div>
        </div>
        <div class="card">
          <img src="/images/M1.jpg" alt="Image 2" />
          <div class="card-info">
            <h2>Item 2</h2>
            <p>Description of item 2.</p>
            <p>$29.99</p>
          </div>
        </div>
      </section>
    </main>
    <%- include("./partials/footer") %>
    <script>
      // JavaScript can be added here if needed
    </script>
  </body>
</html>
