<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <!-- Header -->
    <%- include("./partials/header")%> <%- include("./partials/progress-bar") %>
    <section class="register-page">
      <form action="/register" method="POST">
        <h1 class="user-login">Sign Up</h1>
        <br />
        <label for="username" class="label">Username</label><br />
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          size="50"
          class="input"
          required
        /><br />
        <label for="email" class="label">Email</label><br />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Zondiwe@gmail.com"
          size="50"
          class="input"
          required
        /><br />
        <p
          id="emailExistsMessage"
          class="error-message"
          style="display: none; color: red"
        >
          Email already in use
        </p>
        <label for="password" class="label">Password</label><br />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          size="50"
          class="input"
          required
        /><br />
        <p id="errorMessage" hidden></p>
        <button type="submit" id="submit" class="button">Sign Up</button>
        <p>Already Have An Account? <a class="renew" href="/login">Login</a></p>
      </form>
    </section>
    <%- include("./partials/footer") %>
  </body>
</html>
