<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <!-- Header -->
    <%- include("./partials/header")%> <%- include("./partials/progress-bar") %>
    <section class="register-page">
      <!-- Your HTML content -->

      <form action="/register" method="POST" id="registerForm">
        <h1 class="user-login">Sign Up</h1>
        <br />
        <label for="username" class="label">Username</label><br />
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          size="50"
          class="input"
          required
          autocomplete="username"
        /><br />
        <label for="email" class="label">Email</label><br />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Zondiwe@gmail.com"
          size="50"
          class="input"
          required
          autocomplete="email"
        /><br />

        <label for="password" class="label">Password</label><br />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          size="50"
          class="input"
          required
          autocomplete="password"
        /><br />
        <p id="errorMessage" hidden></p>

        <button type="submit" id="submit" class="button">Sign Up</button>
        <p>Already Have An Account? <a class="renew" href="/login">Login</a></p>
      </form>
      <script src="/js/index.js"></script>
    </section>
    <%- include("./partials/footer") %>
  </body>
</html>
